<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyrorAPI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_path %>">RailsAPI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">TELEGRAM <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= games_path %>">Games</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= levels_path %>">Levels</a>
        </li>
        </li>
      </ul>
    </div>
  </nav>
  <% unless notice.nil? %>
    <div class="alert alert-success">
      <a class="alert-link"><%= notice %></a>
    </div>
  <% end %>
  <%= yield %>
  </body>
</html>
